<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="account.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="account.Perspective"
            id="Account.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="TreeViewer.catagoryView"
            icon="icons/view.png"
            id="AccoutBook.views.catagory"
            name="catagory"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="Account.application"
            name="WedulAccountproduct">
         <property
               name="appName"
               value="WedulAccountproduct">
         </property>
         <property
               name="productId"
               value="WedulAccount">
         </property>
         <!--<property
               name="aboutImage"
               value="icons/about.gif">
         </property> -->
         <property 
         	name="windowImages" 
         	value="icons/title.bmp,icons/title32.bmp,icons/title48.bmp,icons/title64.bmp,icons/title128.bmp,icons/title256.bmp">
		  </property>
         <property
               name="aboutText"
               value="welcome">
         </property>
      </product>
   </extension>
</plugin>
