<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="nattable.qbview"
            id="NattableTest.views.qbview"
            name="qbview"
            restorable="true">
      </view>
   </extension>

</plugin>
